<h2><%= t ".comment_form_h2" %></h2>
<%= form_for @comment, method: :post, remote: true do |f| %>
  <div class="form-area">
    <div class="form-element">
      <%= f.label :content, t(".comment_label") %>
      <%= f.text_area :content, require: true, style: "width: 100%" %>
    </div>
    <div class="buttons-set">
      <%= f.button type: "submit", title: t(".comment_label"), class: "button submit", name: nil do %>
        <%= content_tag :span, "" do %>
          <%= content_tag :i, "", class: "fa fa-thumbs-up"%>
          <%= t ".comment_label" %>
        <% end %>
      <% end %>
    </div>
  </div>
  <%= hidden_field_tag :product_id, @rating.product_id %>
<% end %>
